.div-form {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-back {
        height: 90%;
        background-color: black;
        width: 100%;
        border-radius: 1rem;
        margin: 0rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .form-submit {
            background-color: white;
            width: 50%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 2rem;
            margin: 2rem;
            z-index: 10;
            transform: scale(0);
        }
        .visible{
            transform: scale(1);
            transition: 0.2s ease-in-out;
        }

        .form-title {
            margin-top: 5rem;
            h1 {
                font-size: 5rem;
                color: white;
                margin-bottom: 3rem;
            }
            h4{
                color: white;
                margin:3rem;
            }

        }

        .form {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            label {
                color: white;
                padding: 0.5rem;
                font-size: 2rem;
                font-weight: 700;
            }

            .input {
                outline: none;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid white;
                margin: 1rem;
                color: white;
                text-align: center;
                font-size: 1.5rem;
                width: 20rem;
            }

            .textarea {
                color: rgb(0, 0, 0);
                outline: none;
                width: 25rem;
                height: 7rem;
                resize: none;
                background-color: transparent;
                color: white;
                font-size: 1.5rem;
            }

            button {
                margin: 2rem;
                padding: 0.5rem 4rem;
                margin-top: 2rem;
            }

            .textarea::-webkit-scrollbar {
                width: 5px;
            }

            .textarea::-webkit-scrollbar-track {
                background: rgb(0, 0, 0);
            }

            .textarea::-webkit-scrollbar-thumb {
                background-color: rgb(255, 255, 255);
                border-radius: 1.5rem;
            }

        }
    }
}

@media screen and (max-width:568px) {
    .div-form {
        margin-top: 10rem;
        margin-bottom: 10rem;

        .form-back {
            height: auto;

            .form-submit {
                width: 80%;
                height: 30%;
            }


            .form-title {
                margin: 2rem;
                h1 {
                    font-size: 3rem;
                    color: white;
                    margin-bottom: 3rem;
                }
                h4{
                    color: white;
                    margin:3rem;
                }

            }

            .form {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                label {
                    color: white;
                    padding: 0.5rem;
                    font-size: 2rem;
                    font-weight: 700;
                }

                .input {
                    outline: none;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    margin: 1rem;
                    color: white;
                    text-align: center;
                    font-size: 1.5rem;
                    width: 20rem;
                }

                .textarea {
                    color: rgb(0, 0, 0);
                    outline: none;
                    width: 20rem;
                    height: 7rem;
                    resize: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1.5rem;
                }


                .textarea::-webkit-scrollbar {
                    width: 5px;
                }

                .textarea::-webkit-scrollbar-track {
                    background: rgb(0, 0, 0);
                }

                .textarea::-webkit-scrollbar-thumb {
                    background-color: rgb(255, 255, 255);
                    border-radius: 1.5rem;
                }
            }
        }
    }
}
@media screen and (max-width:380px) {
    .div-form {
        margin-top: 10rem;
        margin-bottom: 10rem;

        .form-back {
            height: auto;

            .form-submit {
                width: 80%;
                height: 30%;
            }


            .form-title {
                margin: 2rem;
                h1 {
                    font-size: 3rem;
                    color: white;
                    margin-bottom: 3rem;
                }
                h4{
                    color: white;
                    margin:3rem;
                }

            }

            .form {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                label {
                    color: white;
                    padding: 0.5rem;
                    font-size: 2rem;
                    font-weight: 700;
                }

                .input {
                    outline: none;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    margin: 1rem;
                    color: white;
                    text-align: center;
                    font-size: 1.5rem;
                    width: 20rem;
                }

                .textarea {
                    color: rgb(0, 0, 0);
                    outline: none;
                    width: 20rem;
                    height: 7rem;
                    resize: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1.5rem;
                }


                .textarea::-webkit-scrollbar {
                    width: 5px;
                }

                .textarea::-webkit-scrollbar-track {
                    background: rgb(0, 0, 0);
                }

                .textarea::-webkit-scrollbar-thumb {
                    background-color: rgb(255, 255, 255);
                    border-radius: 1.5rem;
                }
            }
        }
    }
}