.div-presentation {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    .miTitle{
        margin-top: -20rem;
        color:black;
        .principal-title{
            font-size: 9rem;
        } 
        .div-typer{
            display: flex;
            align-items: center;
            justify-content: center;
            .div-liner{
                border: 1px solid black;
                width: 15rem;
            }
            .div-typying{
                margin: 0rem 3rem;
            }
        }
    }
}

@media (max-width:992px){
    .div-presentation {
        height: 100vh;
        width: 100vw;
        .miTitle{
            margin-top: -10rem;
            .principal-title{
                font-size: 6rem;
            } 
            .div-typer{
                .div-liner{
                    border: 1px solid black;
                    width: 6rem;
                }
                .div-typying{
                    margin: 0rem 2rem;
                }
            }
        }
    }
}

@media (max-width:768px){
    .div-presentation {

        .miTitle{
            .principal-title{
                font-size:5rem;
            } 
            .div-typer{
                .div-liner{
                    border: 1px solid black;
                    width: 4rem;
                }
                .div-typying{
                    margin: 0rem 0.5rem;
                }
            }
        }
    }
}
@media (max-width:576px){
    .div-presentation {

        .miTitle{
            .principal-title{
                font-size: 5rem;
            } 
            .div-typer{
                .div-liner{
                    border: 1px solid black;
                    width: 3rem;
                }
                .div-typying{
                    margin: 0rem 0.5rem;
                }
            }
        }
    }
}
@media (max-width:400px){
    .div-presentation {
        height: 100vh;
        width: 100vw;
        .miTitle{
            .principal-title{
                font-size: 5rem;
            } 
            .div-typer{
                .div-liner{
                    border: 1px solid black;
                    width: 3rem;
                }
                .div-typying{
                    margin: 0rem 0.5rem;
                }
            }
        }
    }
}