.div-skills {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .skills {
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        

        

        .row-skills {
            width: 80%;
            color: white;
            .title{
                color: white;
                font-size: 4rem;
                margin: 2rem 0rem;
            }
            .col-skill {
                display: flex;
                align-items: center;
                justify-content: center;
                gap:1rem;
                padding: 1rem;
                margin-bottom: 1rem;
                .img{
                    max-width: 6rem;
                    max-height: 6rem;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}

@media (max-width:512px){
    .div-skills {
        


        .skills {
            height: auto;
            

            
    
            .row-skills {

                .title{

                }
                .col-skill {
                    
                    .img{

                    }
                }
            }
        }
    }
}

@media (max-width:480px){
    .div-skills {
        margin-top: 20rem;
        height: auto;


        .skills {
            height: auto;
            

            
    
            .row-skills {

                .title{

                }
                .col-skill {
                    
                    .img{

                    }
                }
            }
        }
    }
}